body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 222, 179, 0.5) !important;
  /* background-color: rgb(255, 127, 80, 0.2) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button:focus {
  box-shadow: none !important;
}

.portfolioHeader {
  text-align: center;
  margin-top: 1rem;
}
.portfolioBorder {
  border-bottom: 5px solid rgb(255, 127, 80);
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
}
.cardImage {
  height: 250px;
}
.cards {
  /* background-color: rgb(255, 0, 0, 0.3) !important; */
  opacity: 0.9;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: rgb(255, 127, 80, 0.5) !important;
}
.cards:hover {
  opacity: 1;
}
.footers {
  width: 100% !important;
  background-color: rgb(255, 127, 80, 0.5) !important;
  border: 1px solid rgb(255, 127, 80, 0.5) !important;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-top: 1px !important;
  opacity: 0.95;
}
.footers:hover {
  opacity: 1;
}
.navButtons {
  background-color: white !important;
  color: black !important;
  border-color: rgb(128, 128, 128, 0.2) !important;
  width: 12%;
  font-size: 1rem !important;
}
.navButtons:focus {
  background-color: rgb(255, 127, 80, 0.9) !important;
  color: white !important;
}
.navButtons:hover {
  opacity: 0.8;
}
.active {
  background-color: rgb(255, 127, 80, 0.9) !important;
  color: white !important;
}
@media screen and (max-width: 1025px) {
  .footers {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 450px) {
  .cards {
    /* background-color: rgb(255, 0, 0, 0.7) !important; */
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: rgb(255, 127, 80, 0.5) !important;
    margin-bottom: 1px;
  }
  .cardImage {
    height: 150px;
  }
  .navButtons {
    width: 20%;
    font-size: 0.6rem !important;
  }
  .footers {
    font-size: 0.5rem !important;
  }
  .cardTitle {
    font-size: 0.8rem;
    display: block;
  }
  .reactCat {
    background-color: aliceblue;
    padding: 0 !important;
    margin: 0 !important;
  }
  .reactCatBtn {
    font-size: 0.5rem !important;
    margin: 0 !important;
    padding: 0.3rem !important;
  }
}
